/* font-family: 'Laila', serif;
font-family: 'Unkempt', cursive; */

body {
    background: url('hogwarts.jpg');
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.wrapper {
    /* border: 2px solid black; */

}

.hogwartsHouse {
    /* border: 2px solid purple; */
    width: 445px;
    margin: auto;
    background: black;
    background: radial-gradient(#A34A28, black);
    box-shadow: 0 0 5px 5px black;
    border-radius: 5px;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    text-shadow: 2px 1px black;
    color: #A34A28;
    padding: 10px;
}

#instructions {
    border: 1px solid black;
    width: 250px;
    height: 80px;
    margin: auto;
}

#words {
    width: 252px;
    height: 62px;
    margin: auto;
}

#text {
    /* border: 1px solid orangered; */
    font-family: 'Unkempt', cursive;
    font: #A34A28;
    width: 250px;
    height: 60px;
    text-shadow: 1px 1px black;
    z-index: 3;
    position: relative;
    top: -355%;
    /* left: -8%; */
    margin: auto;
    
    
}

h2 {
    color: #A34A28;
}

.sortingDiv{
    /* border: 1px solid blue; */
    margin: auto;
    width: 67px;
    
}

#sort {
    margin: auto;
}

#sortingPic {
    /* border: 1px solid yellowgreen; */
    width: 450px;
    margin: auto;
    z-index: 1;
    height: 250px;
    top: 10px;
    padding: 30px;
    border-radius: 5px;
    
}

#hat {
    /* border: 1px solid purple; */
    width: 450px;
    margin: auto;
    box-shadow: 0 0 10px 10px black;
    z-index: 2;
    display: inline-block;
}

.results {
    /* border: 2px solid red; */
    height: 302px;
    width: 252px;
    margin: auto;
    
}

