body {
    background: url('hogwarts.jpg');
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.wrapper {
    border: 2px solid black;

}

.hogwartsHouse {
    border: 2px solid purple;
    width: 500px;
    margin: auto;

}

.sortingDiv{
    border: 1px solid blue;
    margin: auto;
    width: 80px;
    margin: auto;
}

#sort {
    margin: auto;
}

.results {
    border: 2px solid red;
    height: 300px;
    width: 250px;
    margin: auto;
}